<section class="about" id="about">
  <div class="about__container container">
    <h2 class="about__title title-h2">
      О компании
    </h2>
    <div class="about__grid">
      <div class="about__block">
        <p class="about__block--text">В среднем поставляем <br> продукции в месяц</p>
      </div>
      <div class="about__block">
        <b class="about__count js-count-up">5000</b>
        <p class="about__block--text">тонн дизельного топлива <br> и бензина АИ-92</p>
      </div>
      <div class="about__block">
        <b class="about__count js-count-up">15000</b>
        <p class="about__block--text">тонн сжиженного газа</p>
      </div>
      <div class="about__block">
        <b class="about__count js-count-up">3000</b>
        <p class="about__block--text">тонн вязких битумов</p>
      </div>
    </div>
    <div class="about__content">
      <div class="about__images" aria-hidden="true">
        <div class="about__image js-about-image">
          <img src="../assets/images/about__image-1.png" alt="">
        </div>
        <div class="about__image js-about-image"></div>
        <div class="about__image js-about-image"></div>
        <div class="about__image js-about-image">
          <img src="../assets/images/about__image-2.png" alt="">
        </div>
        <div class="about__image js-about-image">
          <img src="../assets/images/about__image-3.png" alt="">
        </div>
        <div class="about__image js-about-image">
          <img src="../assets/images/about__image-4.png" alt="">
        </div>
      </div>
      <div class="about__info">
        <p class="about__eyebrow">Информация о нашей компании</p>
        <p class="about__description">
          Компания поставляет нефтепродукты для промышленных предприятий, АЗС, строительных и транспортных организаций.
          Мы работаем с оптовыми партиями, подбираем продукцию под задачи клиента, согласуем удобные условия поставки и
          контролируем сроки на каждом этапе.
        </p>
        <a class="about__link" href="#about">
          <span>Подробнее о компании</span>
          <svg width="24" height="24" aria-hidden="true">
            <use href="#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
