<section class="hero">
  <img src="../assets/images/hero-bg.png" alt="bg" class="hero__bg">
  <div class="hero__line">
    <div></div>
    <div></div>
  </div>
  <div class="hero__container container">
    <div class="hero__top">
      <p>
        Поможем выбрать нужный продукт, быстро согласуем условия и доставим партию на ваш склад или объект в срок
      </p>
    </div>
    <div class="hero__bottom">
      <h1 class="hero__title title-h1">
        Оптовые поставки<br>
        нефтепродуктов<br>
        и нефтехимии
      </h1>
      <button class="hero__cta button-two">
        <span>Запросить КП</span>
        <svg width="24" height="24" aria-hidden="true">
          <use href="#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>