<section class="our-products js-products-section" id="our-products">
  <div class="our-products__container container">
    <h2 class="our-products__title title-h2">
      Наша продукция
    </h2>

    <div class="our-products__body">
      <div class="our-products__categories" aria-label="Категории продукции">
        <button class="our-products__category js-products-category" type="button" data-product-slide="0"
          aria-current="true">
          СУГ (пропан, бутан, ПБТ)
        </button>
        <button class="our-products__category js-products-category" type="button" data-product-slide="1">
          Бензины
        </button>
        <button class="our-products__category js-products-category" type="button" data-product-slide="2">
          Дизельное топливо
        </button>
        <button class="our-products__category js-products-category" type="button" data-product-slide="3">
          Авиационный керосин
        </button>
        <button class="our-products__category js-products-category" type="button" data-product-slide="4">
          Продукты первичной переработки нефти
        </button>
        <button class="our-products__category js-products-category" type="button" data-product-slide="5">
          Нефтехимия
        </button>
      </div>

      <div class="our-products__slider swiper js-products-slider">
        <div class="swiper-wrapper">
          <article class="our-products__slide swiper-slide" data-product-name="ПБТ, ПБА, ПТ, БТ">
            <img class="our-products__slide-image" src="../assets/images/our-products__slide-img-1.png" alt="СУГ">
          </article>
          <article class="our-products__slide swiper-slide" data-product-name="АИ-92, АИ-95, АИ-98">
            <img class="our-products__slide-image" src="../assets/images/our-products__slide-img-1.png" alt="Бензины">
          </article>
          <article class="our-products__slide swiper-slide" data-product-name="ДТ летнее, зимнее, межсезонное">
            <img class="our-products__slide-image" src="../assets/images/our-products__slide-img-1.png"
              alt="Дизельное топливо">
          </article>
          <article class="our-products__slide swiper-slide" data-product-name="ТС-1, РТ">
            <img class="our-products__slide-image" src="../assets/images/our-products__slide-img-1.png"
              alt="Авиационный керосин">
          </article>
          <article class="our-products__slide swiper-slide" data-product-name="Нафта, мазут, битумы">
            <img class="our-products__slide-image" src="../assets/images/our-products__slide-img-1.png"
              alt="Продукты первичной переработки нефти">
          </article>
          <article class="our-products__slide swiper-slide" data-product-name="Растворители, масла, присадки">
            <img class="our-products__slide-image" src="../assets/images/our-products__slide-img-1.png"
              alt="Нефтехимия">
          </article>
        </div>
      </div>

      <div class="our-products__aside">
        <p class="our-products__current js-products-current">ПБТ, ПБА, ПТ, БТ</p>
        <a class="our-products__link" href="#our-products">
          <span>Подробнее</span>
          <svg width="24" height="24" aria-hidden="true">
            <use href="#icon-arrow"></use>
          </svg>
        </a>
        <button class="our-products__button button-two" type="button">
          <span>Заказать поставку</span>
          <svg width="24" height="24" aria-hidden="true">
            <use href="#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>