<section class="partners" id="partners">
  <div class="partners__container container">
    <h2 class="partners__title title-h2">Наши партнеры</h2>

    <ul class="partners__list">
      <li class="partners__item">
        <img class="partners__logo" src="" alt="Газпром экспорт">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="" alt="Лукойл">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="" alt="НефтеХимСервис">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="" alt="Фортеинвест">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="" alt="Татнефть">
      </li>
    </ul>
  </div>
</section>
