<section class="partners" id="partners">
  <div class="partners__container container">
    <h2 class="partners__title title-h2" data-aos="fade-up">Наши партнеры</h2>

    <ul class="partners__list">
      <li class="partners__item">
        <div class="partners__item-inner" data-aos="fade-up" data-aos-delay="80">
          <img class="partners__logo" src="../assets/images/partners-1.png" alt="Газпром экспорт">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__item-inner" data-aos="fade-up" data-aos-delay="140">
          <img class="partners__logo" src="../assets/images/partners-2.png" alt="Лукойл">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__item-inner" data-aos="fade-up" data-aos-delay="200">
          <img class="partners__logo" src="../assets/images/partners-3.png" alt="НефтеХимСервис">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__item-inner" data-aos="fade-up" data-aos-delay="260">
          <img class="partners__logo" src="../assets/images/partners-4.png" alt="Фортеинвест">
        </div>
      </li>
      <li class="partners__item">
        <div class="partners__item-inner" data-aos="fade-up" data-aos-delay="320">
          <img class="partners__logo" src="../assets/images/partners-5.png" alt="Татнефть">
        </div>
      </li>
    </ul>
  </div>
</section>
