.footer {
  margin-top: 140px;
  padding-top: 48px;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer__brand {
  display: block;
  font-weight: 400;
  font-size: clamp(86px, 11.6vw, 220px);
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  white-space: nowrap;
}

.footer__body {
  margin-top: 44px;
  border-top: 1px solid #a1aeff;
}

.footer__content {
  display: grid;
  grid-template-columns: 65% 35%;
}

.footer__left,
.footer__right {
  padding-block: 32px 28px;
}

.footer__left {
  display: grid;
  grid-template-rows: 1fr auto;
  padding-right: 54px;
}

.footer__right {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 34px;
  padding-left: 54px;
  border-left: 1px solid #a1aeff;
}

.footer__left-top {
  display: flex;
  gap: 80px;
}

.footer__left-bottom {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 120px;
}

.footer__nav,
.footer__products,
.footer__addresses,
.footer__legal,
.footer__contact-group,
.footer__right-bottom,
.footer__made {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__phones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.footer__addresses {
  gap: 26px;
}

.footer__legal-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.footer__legal {
  gap: 8px;

  .footer__link {
    text-transform: capitalize;
  }
}

.footer__right-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 105px;
}

.footer__socials {
  display: flex;
  gap: 38px;
  align-self: start;
}

.footer__made {
  gap: 6px;
}

.footer__caption {
  display: block;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #ccd3ff;
}

.footer__link,
.footer__text,
.footer__address,
.footer__copyright,
.footer__made {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: currentColor;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer__link {
  text-transform: uppercase;
  transition: opacity var(--transition-speed) var(--transition-ease);

  &:hover {
    opacity: 0.65;
  }
}

.footer__address {
  max-width: 320px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

/* .footer__copyright {} */