<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content">
      <div class="footer__logo-box">
        <span class="footer__logo-text">Nafta Trading</span>
      </div>
      <nav class="footer__nav">
        <a href="/" class="footer__nav-link">Главная</a>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">Все права защищены © 2026 Nafta Trading</div>
    </div>
  </div>
</footer>

<include src="../partials/modal.html"></include>
