<footer class="footer">
  <div class="footer__container container">
    <strong class="footer__brand">Нафта Трейдинг</strong>
  </div>


  <div class="footer__body">
    <div class="footer__content container">
      <div class="footer__left">
        <div class="footer__left-top">
          <nav class="footer__nav" aria-label="Навигация в подвале">
            <span class="footer__caption">Навигация</span>
            <div class="footer__links">
              <a class="footer__link" href="#about">О компании</a>
              <a class="footer__link" href="#our-products">Продукция</a>
              <a class="footer__link" href="#services">Услуги</a>
              <a class="footer__link" href="#quality-passports">Качество и сертификаты</a>
              <a class="footer__link" href="#clients">Клиенты</a>
              <a class="footer__link" href="#news">Новости</a>
              <a class="footer__link" href="#contacts">Контакты</a>
            </div>
          </nav>

          <nav class="footer__products" aria-label="Наша продукция">
            <span class="footer__caption">Наша продукция</span>
            <div class="footer__links">
              <a class="footer__link" href="#our-products">СУГ (пропан, бутан, ПБТ)</a>
              <a class="footer__link" href="#our-products">Бензины</a>
              <a class="footer__link" href="#our-products">Дизельное топливо</a>
              <a class="footer__link" href="#our-products">Авиационный керосин</a>
              <a class="footer__link" href="#our-products">Продукты первичной переработки нефти</a>
              <a class="footer__link" href="#our-products">Нефтехимия</a>
            </div>
          </nav>
        </div>

        <div class="footer__left-bottom">
          <div class="footer__addresses">
            <address class="footer__address">
              <span class="footer__caption">Адрес нефтебазы</span>
              Российская Федерация, г. Омск, ул. 1-я Рябиновая 35А
            </address>
            <address class="footer__address">
              <span class="footer__caption">Адрес офиса</span>
              Кыргызская Республика, г. Бишкек, бульвар Молодой Гвардии, 20
            </address>
          </div>

          <div class="footer__legal-wrap">
            <div class="footer__legal">
              <a class="footer__link" href="#privacy">Политика конфиденциальности</a>
              <a class="footer__link" href="#privacy">Согласие на обработку персональных данных</a>
            </div>

            <p class="footer__copyright">©Нафта Трейдинг 2026</p>
          </div>
        </div>
      </div>

      <div class="footer__right" id="contacts">
        <div class="footer__phones">
          <div class="footer__contact-group">
            <span class="footer__caption">Бухгалтерия</span>
            <a class="footer__link" href="tel:+89999999999">8 999 999 99 99</a>
          </div>
          <div class="footer__contact-group">
            <span class="footer__caption">Отдел продаж</span>
            <a class="footer__link" href="tel:+89999999999">8 999 999 99 99</a>
          </div>
          <div class="footer__contact-group">
            <span class="footer__caption">Отдел логистики</span>
            <a class="footer__link" href="tel:+89999999999">8 999 999 99 99</a>
          </div>
        </div>

        <div class="footer__contact-group">
          <span class="footer__caption">Почта для связи</span>
          <a class="footer__link" href="mailto:neftemarketast@yandex.ru">neftemarketast@yandex.ru</a>
        </div>

        <div class="footer__contact-group">
          <span class="footer__caption">График работы</span>
          <p class="footer__text">ПН-ПТ с 9 до 18 по Москве</p>
        </div>

        <div class="footer__right-bottom">
          <div class="footer__socials">
            <a class="footer__link" href="#telegram">Telegram</a>
            <a class="footer__link" href="#whatsapp">Whatsapp</a>
          </div>

          <p class="footer__made">
            <span class="footer__caption">Разработка сайта</span>
            Hermon Group
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>

<include src="../partials/modal.html"></include>